/* VARIABLES */
@gray: #151515;
@white: #eee;
@width: 960px;
@facebook_blue: #3b5998;
@twitter_blue:#246;

/* GLOBAL */
body{
  background:url("/images/bg.jpg");
  font-family: "Arial";
  font-size: 13px;
}
a{
  color: @white;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
/* LAYOUT */
#header{
  background-color: @gray;
  height:60px;
  margin:40px 0;
  padding:35px 0;
  width:100%;
}

#logo{
  background: url("/images/logo.jpg") no-repeat;
  display:block;
  width: @width;
  height: 53px;
  margin: auto;
}

#content{
  width: @width;
  margin: auto;
  padding: 40px 0px;
}

#footer{
  background-color:@gray;
  padding: 20px 0px;
}
#footer-content{
  width: @width;
  margin:auto;
  color: @white;
  font-size: 0.9em;
}

#flash{
  position:absolute;
  top: 0px;
  padding: 13px 0px;
  color:@white;
  background-color: @gray;
  border-bottom: 1px solid #fff;
  width: 100%;
  text-align:center;
  font-size: 1.1em;
  display:none;
}

#show, #search-results{
  background:#fff;
}
/* SEARCH */
#search-wrapper{
  width: @width;
  margin: auto;
}
#search{
  text-align:right;
  margin-top: 42px;
  width: 250px;
  float:right;
  padding: 10px 0px 20px 10px;
  input[type="text"]{
    padding: 5px;
  }
  input[type="submit"]{
    border: 1px solid @gray;
    background-color:@white;
    font-size: 1.1em;
    color: @gray;
    padding: 5px;
  }
}
#search-results{
  padding: 20px;
  a{
    color: @gray;
  }
  .item{
    padding: 10px 20px 20px 60px;
  }
  .facebook_page{
    background:url("/images/small_facebook.png") no-repeat;
  }
  .twitter{
    background:url("/images/small_twitter.png") no-repeat;
  }
}
/* FOOTER */
#me-myself-and-i{
  width: 200px;
  float:right;
  text-align:right;
  background:url("/images/icons/twitter.png") no-repeat 40px 0px;
  padding-top: 0px;
  line-height: 25px;
  height: 100px;
}
#credits{
  background:url("/images/credits.png") no-repeat;
  padding-left: 120px;
  .entry{
    width: 300px;
    img{
      float:left;
      height: 25px;
      margin-right: 10px;
    }
    a{
      padding-top: 5px;
      display:inline-block;
    }
  }
}
#sources{
  background:url("/images/sources.png") no-repeat;
  padding-left: 120px;
  height: 40px;
  margin-top: 20px;
  padding-top: 3px;
}

/* HOME */
#accounts{
  .facebook_page:hover, .facebook_account:hover, .facebook_account.selected, .facebook_page.selected{
    background-color: rgba(189,203,231,0.5);
  }
  .twitter:hover, .twitter.selected{
    background-color: rgba(210,244,255,0.5);
  }
  .account{
    .header{
      cursor: pointer;
    }
    .form{
      display:none;
      form{
        margin: 20px 20px 20px 105px;
        label{
          display: block;
          font-weight: bold;
        }
        input[type="text"], textarea{
          padding: 5px;
          margin: 5px 0px 10px 0px;
          width: 500px;
        }
        textarea{
          height: 200px;
        }
        input[type="submit"]{
          display:block;
          margin: 20px 0px;
          padding: 5px 10px;
          border: 1px solid @gray;
          font-size: 1.2em;
          width: 120px;
          color: #fff;
        }
      }
      p{
        margin: 20px 20px 20px 105px;
      }
      ul{
        margin: 20px 20px 20px 105px;
        li{
          margin: 5px 0px 0px 40px;
          list-style-type: square;
        }
      }
    }
  }
}
.account{
  padding: 5px;
  margin: 0px 0px 60px 0px;
  .name, .icon, .description{
    display: inline-block;
  }
  .icon{
    height: 64px;
    width: 64px;
    margin: 0px 40px 0px 0px;
  }
  .name{
    height: 46px;
    width: 400px;
  }
  .description{
    height: 36px;
    width: 436px;
    background-position: right;
  }
}
.facebook_page{
  .icon{background:url("/images/facebook.png") no-repeat;}
  .name{background:url("/images/facebook_page.png") no-repeat;}
  .description{background:url("/images/facebook_page_desc.png") no-repeat scroll right 0px transparent;}
  input[type="submit"]{background-color: @facebook_blue;}
}
.facebook_account{
  .icon{background:url("/images/facebook.png") no-repeat;}
  .name{background:url("/images/facebook_account.png") no-repeat;}
  .description{background:url("/images/facebook_account_desc.png") no-repeat scroll right 0px transparent;}
  input[type="submit"]{background-color: @facebook_blue;}
}
.twitter{
  .icon{background:url("/images/twitter.png") no-repeat;}
  .name{background:url("/images/twitter_account.png") no-repeat;}
  .description{background:url("/images/twitter_desc.png") no-repeat scroll right 0px transparent;}
  input[type="submit"]{background-color: @twitter_blue;}
}

/* SHOW PAGE for PUB ACCOUNTS */
#show{
  margin-top: -20px;
}
#red-button{
  text-align:right;
  font-size: 0.9em;
  margin-top: 40px;
  color:#888;
}
#cats{
  text-align:center;
  padding-bottom: 20px;
  p{padding: 20px;}
}
#download-csv{
  color:@gray;
  font-size: 0.8em;
  text-align:center;
  display:block;
  background-color:rgba(255,255,255,0.7);
  padding: 10px;
}
table{
  margin: 20px auto;
  width: 350px;
  th{
    color: @white;
    background-color:@gray;
    padding: 3px 10px;
    text-align:left;
  }
  td{
    padding: 3px 10px;
    font-size: 0.8em;
  }
  tr{
    border-bottom: 1px solid @gray;
  }
}
/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}