%p
  Don't forget that we might discontinue the service at any time since this is running on free hosting and might not hold a large amount of data. 
  %strong
    Of course we won't store any of your personnal information other than the one required to retrieve the data
  , meaning :

%ul
  %li Facebook Page: Nothing!
  %li Facebook Account: Your user id and authorization token
  %li Twitter: Your user id and authorization token
  
%p
  Don't worry you can revoke all that from either Facebook or Twitter. Just look for the "Track my Social Account" application. If your application / profile needs to be totally removed from our databases, just contact us.

%p
  We also store the reason why you want to track your social media account, because it might be fun to read.